<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Custom Application Software</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Apps</h4>
                    <p class="text-muted">We can provide expertise on many levels. From developing your entire app to consulting on your enterprise-level, multiple-developer, mobile app project, let us work for you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Applications</h4>
                    <p class="text-muted">Our web application developers have decades of web application development under our belt. Whether it be enterprise level applications to a customer facing web presence, let us help.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Games</h4>
                    <p class="text-muted">Our game practice is just getting started, but soon we will be releasing a new game to the Google Play Store.</p>
                </div>
            </div>
        </div>
    </section>